.task-text {
  color: #ffffff;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-heihgt: 50px;
}

.task-text.--hide {
  display: none;
}

.task-item {
  height: 50px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.btn-group {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  widht: 40px;
}

.submit-new {
  cursor: pointer;
  margin-left: 20px;
  display: none;
  color: #ffffff;
  font-weight: 600;
}

.submit-new.--show {
  display: block;
}
